<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catapult.android.mca"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".PreClinicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pre_clinic"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ClinicPatientViewActivity"
            android:label="@string/title_activity_clinic_patient_view"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PatientDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_patient_details"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PasswordResetActivity2"
            android:label="@string/title_activity_password_reset_activity2"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".UsernameSearchActivity"
            android:label="@string/title_activity_username_search"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <!--<activity-->
            <!--android:name=".TeamLeadHomeActivity"-->
            <!--android:label="@string/title_activity_team_lead_home"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >-->
        <!--</activity>-->
        <activity
            android:name=".HealthTechHomeActivity"
            android:label="@string/title_activity_health_tech_home"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PatientVerificationActivity"
            android:label="@string/title_activity_patient_verification"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PiccoloSetupActivity"
            android:label="@string/title_activity_piccolo_setup"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".A1cActivity"
            android:label="@string/title_activity_a1c"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ClinicScheduleActivity"
            android:label="@string/nullstring"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".ManualClinicalMetricsActivity"
            android:label="@string/title_activity_manual_clinical_metrics"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".PatientDetailInfoActivity"
            android:label="@string/title_activity_patient_detail_info"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".NPTestActivity"
            android:label="@string/title_activity_nptest"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".HT_Vaccine_Yes_No_Activity"
            android:label="@string/title_activity_ht__vaccine__yes__no_"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".HT_Vaccine_Questionnaire_Activity"
            android:label="@string/title_activity_ht__vaccine__questionnaire_"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".HT_Vaccine_Pat_Signature_Activity"
            android:label="@string/title_activity_ht__vaccine__pat__signature_"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".HT_Vaccine_Complete_Activity"
            android:label="@string/title_activity_ht__vaccine__complete_"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name=".TeamLeadHome"
            android:label="@string/title_activity_team_lead_home" >
        </activity>
        <activity
            android:name=".HT_Manual_Piccolo_Activity"
            android:label="@string/title_activity_ht__manual__piccolo_" >
        </activity>
        <activity
            android:name=".HT_Additional_Services_Activity"
            android:label="@string/title_activity_ht__additional__services_" >
        </activity>
        <activity
            android:name=".TL_Staff_Activity"
            android:label="@string/title_activity_tl__staff_" >
        </activity>
    </application>

</manifest>
